# LureKit ignore rules

# Environment and secret files
.env
*.log
*.sqlite
*.pem
*.crt
*.key

# OS / editor junk
.DS_Store
*.swp
*.bak
__pycache__/

# Build / temp files
*.zip
*.tar
*.gz

# Gophish compiled binaries
gophish/
